<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Spring Boot Thymeleaf Example</h1>
    <p>Message: <span th:text="${name}"></span></p>
    <form th:action="@{/index}" th:object="${textForm}" method="post">
        <textarea  th:text="${text}" th:field="*{content}" rows="5" cols="30"></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <p th:text="${mensaje}"></p>
</body>
</html>